.detailed-node-div {
  height: 100%;
  width: 20%;
  background: white;
  padding: 0px 10px 0px 10px;
  overflow: hidden;
  word-wrap: break-word;
}

.no-bullet-list {
  list-style: none;
  padding: 0px 0px 0px 0px;
  margin: 0px 0px;
}
