h3 {
    color: navy;
}

.flexbox-container {
    display: flex;
    flex-direction: row;
}

.flexbox-container .cyto-model {
    width: 700px;
    height: 700px ;
}

.node-view {
    width:20%;
    background: coral !important; 
}